---
import logo from "/radiks.svg";
export interface Props {
  title: string;
  showLogin?: boolean;
}

const { title, showLogin } = Astro.props;
import { getUser } from "@astro-auth/core";
const user = getUser({ client: Astro });
---

<style>
  html {
    font-size: 20px;
  }
</style>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&display=swap"
  rel="stylesheet"
/>

<body class="font-serif w-auto flex">
  <div class="flex flex-col m-auto max-w-2xl px-4">
    <div class="flex justify-between">
      <a href="/"><img class="my-2 w-24" src={logo} /></a>
      {
        user ? (
          <div class="my-auto">Hello, Shareholder.</div>
        ) : (
          showLogin && (
            <div class="my-auto">
              <a
                href="/login/"
                class="py-1 px-2 bg-gray-200 border-l-gray-500 border-b-gray-500 border-t-gray-100 border-r-gray-100 border-2 hover:bg-gray-300 active:bg-gray-400 active:border-l-gray-100 active:border-b-gray-100 active:border-t-gray-500 active:border-r-gray-500"
              >
                Shareholder Login
              </a>
            </div>
          )
        )
      }
    </div>
    <div class="text-lg">Radi Kourier Systems.</div>
    <i>We deliver at the speed of rad!</i>
    <div class="mt-4">
      <slot />
    </div>
    <footer>
      <a
        class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        href="/faq">FAQ</a
      >
    </footer>
  </div>
</body>
